
.hi{
    font-size: 45px;
    font-weight: bold;    
    margin-left: 5rem;
    margin-top: 1rem;
}

.question{
    font-size: 35px;
    margin-left: 5rem;

}
.btn-ordenes:hover{
    
    background-color: #ffffff;
    color:#5d178f;
    border-color: #3d0b60;


}
.btn-bar{
    border-radius: 5rem;
   width:20px;
       
    border-color: #5d178f;
    border: 1px solid transparent;
    
}
.titulo-info{
    padding: 0 60px;
    color: #5d178f;
}

.lu{
    font-size: 3rem;
    font-weight: bold;
    margin-left:150px ;
    padding: 0%;
    
}
 
.bg-dark {
    background-color: #5d178f!important;
}


.posicion{
    margin-top: 30px;
}

.card-style{
    width: 16rem;
    height: 16rem; 
}

#categorias{
    margin-left: 40px;
}

#box{
    margin-top:30px;
}
.btn-cerrar {
    color: #fff;
    background-color: #5d178f;
    border-color: #5d178f;
}

.modal-saludo{
    color: #fff;
    font-size: 20px;;
}

#header{
    background-color: #3d0b60;
    border-color: #3d0b60;
}

#headerC{
    background-color: #3d0b60;
    border-color: #3d0b60;
}
.purpura{
    color: #5e1592;
}
.des{
    color: rgb(82, 82, 82);
    font-size: medium;
   
}
#photo {
    height: 250px;
    width: 290px;
    border-radius:25px 25px 0px 0px !important;

 
 
  }
  
  #pa {
    position: relative;    /* para poder posicionar el texto de forma absoluta */
    display: inline-block; /* para que solo ocupe el ancho de la imagen */
    border-radius:5px!important;
    margin-left: 19%;
  }
  
  .card-title {
    position: absolute;    /* posición absolute con respecto al padre */
    bottom: 0;             /* posicionada en la esquina inferior derecha */
    left: 1rem;
    color: white;
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: 30px;
  }
  .card-descrip {
    position: absolute;    /* posición absolute con respecto al padre */
    bottom: 0;             /* posicionada en la esquina inferior derecha */
    left: 1rem;
    color: white !important;
  
    font-size: larger !important;
    margin-top: 5px;
    margin-bottom: 15px;
  }
  .round{
    border-radius:25px !important;
  }
 .k{
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
 

.btn-ordenes{
    border-radius: 5rem;
    color: #fff;
    background-color: #3d0b60;
    border-color: #3d0b60;
    border: 1px solid transparent;
}
.ho{
    width: 9rem;
    margin-left: 15rem;



}